.App {
  text-align: center;
  margin: 2rem;
}

.btn{
  padding: 0.4rem;
  font-size: 1.2rem;
  margin:0.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.btn1{
  border-color: blue;
}

.btn2{
  border-color: red;
}

.btn3{
  border-color: green;
}

.show1{
  max-width: 550px;
  margin: auto;
  background-color: rgb(187, 187, 238);
  text-align: left;
  color: white;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.show2{
  max-width: 550px;
  margin: auto;
  background-color: rgb(235, 176, 176);
  text-align: left;
  color: white;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.show3{
  max-width: 550px;
  margin: auto;
  background-color: rgb(169, 207, 169);
  text-align: left;
  color: white;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;

}